
/**
 * Fix user-agent
 */

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/**
 * Canvas
 */

 .chat {
   width: 500px;
 }

 .chat .names {
   background-color: #ccc;
   min-height: 100px;
   padding: 15px;
 }

 .main {
   margin-left: 500px;
   padding-left: 30px;
 }

.whiteboard {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 500px;
  right: 0;
  bottom: 0;
  top: 0;
}

.colors {
  position: fixed;
}

.color {
  display: inline-block;
  height: 48px;
  width: 48px;
}

.color.black { background-color: black; }
.color.red { background-color: red; }
.color.green { background-color: green; }
.color.blue { background-color: blue; }
.color.yellow { background-color: yellow; }

input[type=button] {
  z-index: 99999;
  position: fixed;
}

#countdown {
  position: fixed;
  top: 15px;
  right: 15px;
}
